node_modules
/log/*
/tmp/*
/.bundle
/start.sh
/public/packs/*
/public/packs
/public/packs-test
/public/assets
start.sh
db/schema.rb
.env
./start.sh
# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
.byebug_history
