<products-table-widget></products-table-widget>

<!--table class="table">
  <thead class="black white-text">
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Descrição</th>
      <th scope="col">Preço</th>
      <th scope="col">Clube</th>
    </tr>
  </thead>  
  <tbody>
    <% widget.products.each do |product| %>
    <tr>
      <th scope="row"><%= product.balance_code%></th>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= product.price_2 %></td>
    </tr>
    <tr>
    <% end %>
   
  </tbody>
</table-->
