<%= polaris_resource_list do |resource_list| %>
  <% resource_list.with_filters(      disabled: true,
      help_text: "Funcionalidade em desenvolvimento.") do |filters| %>
    <% filters.with_query(name: :query, placeholder: "Filtrar unidades") %>
  <% end %>
  <% units.each do |unit| %>
    <%= polaris_resource_item(url: unit_path(unit)) do |c| %>
      <h3>
        <%= polaris_text_style(variation: :strong) { unit.name } %>
      </h3>
      <span>CNPJ: <%= unit.cnpj %></span>
    <% end %>
  <% end %>
<% end%>
